  @{ Layout = null; }
 
 @if(ViewBag.User.id != ViewBag.ThisMessage.senderId)
        {
            <h5>From: @ViewBag.ThisMessage.senderId</h5>
            <h6>@ViewBag.ThisMessage.created_at</h6>
            <p>@ViewBag.ThisMessage.messageContent</p>

        }else{
            <h5>To: @ViewBag.ThisMessage.receiverId</h5>
            <h6>@ViewBag.ThisMessage.created_at</h6>
            <p>@ViewBag.ThisMessage.messageContent</p>
        }
<!-- ========================================================================= -->
<!-- ========================================================================= -->
@{ foreach(var message in ViewBag.AllMessages)
    {
        @if((@message.senderId == ViewBag.ThisMessage.senderId && @message.receiverId == ViewBag.ThisMessage.receiverId)||(@message.senderId == ViewBag.ThisMessage.receiverId && @message.receiverId == ViewBag.ThisMessage.senderId))
            { 
            
                @if(ViewBag.User.id != @message.senderId)
                    {
                        <h5>From:@message.senderId</h5>
                        <h6>@message.created_at</h6>
                        <p>@message.messageContent</p>
                        <hr>
                    }else{
                        <h5>To:@message.receiverId</h5>
                        <h6>@message.created_at</h6>
                        <p>@message.messageContent</p>
                        <hr>
                    }
              
            }
    }
} 
<!-- ========================================================================= -->
<!-- ========================================================================= -->

<div class="container fixed-bottom">
    <form action="sendMessage" method="POST">
        <div class="form-group">
            <textarea  cols="50" rows="10" asp-for="messageContent" class="form-control" name="messageContent" placeholder="Say Something Back..."></textarea>
            <span asp-validation-for="messageContent"></span>
        </div>
        <br><input class="btn btn-primary btn-small" role="button" type="submit" name="Send Message">
    </form>
</div>
