  <div class="container">
	<div class="row">
		<div class="col-md-3">
            <div class="list-group">
                <a asp-controller ="Home" asp-action="Inbox" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Inbox<span class="badge">12</span> </a>
                <a asp-controller ="Home" asp-action="Sent" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Sent<span class="badge">20</span></a>
                <a asp-controller ="Home" asp-action="Trash" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Trash<span class="badge">44</span></a>
            </div>
		</div>
	</div>
</div>
<!-- ============================================================================== -->
<!-- ============================================================================== -->

  <div class="row">
            <div class="col-sm-12">
                <div class="container">
  
            <h3>Sent Messages</h3>

            <table class="table">
            <thead class="thead-inverse">
            <tr>
            <th>To</th>
            <th>Date</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @{ foreach(var message in ViewBag.Messages)
                {
                    @if(@message.sender == @ViewBag.User.userName)
                    {
                    <tr>
                        <td>@message.reciever</td>
                        <td>@message.created_at</td>
                        <td>
                            <a asp-controller="Home" asp-action="viewMessage" asp-route-id="@message.Id">View</a> | 
                            <a asp-controller="Home" asp-action="deleteMessage" asp-route-id="@message.Id">Delete!</a>
                        </td>
                            
                    </tr>
                    }
                } 
            }
            </table>
        </div>
    </div>
    </div>