@{ ViewData["Title"] = "Welcome to Match!"; }

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="registration-card">
            <img class="logo" src="~/images/match-logo-img.png" alt="company logo">
            <h4><a href='/logout'>Log Out</a></h4><br><br><br>
            <h3>About You</h3>
            @{
                if(ViewBag.Error != null){
                    <h4>@ViewBag.Error</h4>
                }
            }
            <form asp-controller="Home" asp-action="Profile" class="general-form form-horizontal">
                 <div class="form-group">
                    <label for="height" class="col-sm-2 control-label">height</label>
                    <div class="col-sm-5">
                        <select name="height"class="form-control" id="height">
                            <option selected="true" disabled="disabled">height</option>
                            @{
                                for(var i = 4; i <= 7; i++){
                                    <!-- <option value="@i">@i</option> -->
                                    for(var x = 0; x <= 11; x++)
                                    {
                                        <option value="@i*12+@x">@i" @x"</option>
                                    }
                                }
                            }   
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="drink" class="col-sm-2 control-label">Drink</label>
                    <div class="col-sm-10">
                        <select name="drink" class="form-control" id="drink">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="smoke" class="col-sm-2 control-label">Smoke</label>
                    <div class="col-sm-10">
                        <select name="smoke" class="form-control" id="smoke">
                            <option value="Dealbreaker">No, and it is a Dealbreaker</option>
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="relationship" class="col-sm-2 control-label">Relationship</label>
                    <div class="col-sm-10">
                        <select name="relationship" class="form-control" id="relationship">
                            <option value="Single">Single</option>
                            <option value="Divorced">Divorced</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="kids" class="col-sm-2 control-label">Kids</label>
                    <div class="col-sm-10">
                        <select name="kids" class="form-control" id="kids">
                            <option value="No">Don't have kids</option>
                            <option value="Exspouse">Have Kids, they live with ex-spouse</option>
                            <option value="Yes">Have Kids, they live with me</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bodytype" class="col-sm-2 control-label">Body Type</label>
                    <div class="col-sm-10">
                        <select name="bodytype" class="form-control" id="bodytype">
                            <option value="Slim">Slim</option>
                            <option value="Fit">Fit</option>
                            <option value="Gym">Gym would help</option>
                            <option value="Lovehandles">Love handles included</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="biodetail" class="col-sm-2 control-label">Enter a short description about yourself:</label>
                    <div class="col-sm-10">
                        <textarea name="biodetail" class="form-control" id="biodetail"></textarea>
                    </div>
                </div>       
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="registration-card">
                        <!-- <img class="logo" src="~/images/match-logo-img.png" alt="company logo">
                        <h3 class="example-card">Choose Cool Profile Picture</h3> -->
                        <div class="example-card card">
                            <img class="card-img-top" src="~/images/profile.jpg" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Example Profile Picture</h4>
                                <form class="profile-form" method="post" asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Example file input</label>
                                        <input type="file" name="file" accept="imgage/*" id="exampleFormControlFile1/">
                                    </div>
                                        <button class="btn btn-success" type="submit">I want this picture</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
                <button type="submit" class="btn btn-success">Next</button>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>