 @if(ViewBag.User.id != ViewBag.ThisMessage.senderId)
        {
            <h5>From: @ViewBag.ThisMessage.senderId</h5>
            <h6>@ViewBag.ThisMessage.created_at</h6>
            <p>@ViewBag.ThisMessage.messageContent</p>

        }else{
            <h5>To: @ViewBag.ThisMessage.receiverId</h5>
            <h6>@ViewBag.ThisMessage.created_at</h6>
            <p>@ViewBag.ThisMessage.messageContent</p>
        }
<!-- ========================================================================= -->
<!-- ========================================================================= -->

@if(@ViewBag.InMessages.senderId == ViewBag.User.id || ReceiverId == ViewBag.User.id)
   { 
       

      
        
            <form action="sendMessage" method="POST">
                <div class="form-group">
                    <label for="messageContent">Reply</label><br>
                    <textarea  cols="50" rows="10" asp-for="messageContent" class="form-control" name="messageContent" placeholder="Say something back..."></textarea>
                    <span asp-validation-for="messageContent"></span>
                </div>
                <br><input class="btn btn-primary btn-small" role="button" type="submit" name="Reply">
            </form>
    }

  

    
