@foreach(var message in ViewBag.Messages)
{
    @if(ViewBag.User.id != ViewBag.Message.senderId)
    {
        <h5>Message From: @ViewBag.Message.sender</h5>
        <h6>@ViewBag.Message.created_at</h6>
        <p>@ViewBag.Message.messageContent</p>

        <a class="btn btn-primary btn-lg" asp-controller ="Home" asp-action="Reply" role="button">Reply</a>
<!-- ========================================================================= -->
<!-- ========================================================================= -->
        @if(@reply.messageId == @message.Id)
        {
        <h5>Reply From: @ViewBag.Message.senderId</h5>
        <h6>@ViewBag.Reply.created_at</h6>
        <p>@ViewBag.Reply.replyContent</p>
        }

    }

        @if(ViewBag.User.id != ViewBag.Message.senderId)
        {
            <form action="Message" method="POST">
                <div class="form-group">
                    <label for="messageContent">Reply</label><br>
                    <textarea  cols="50" rows="10" asp-for="messageContent" class="form-control" name="messageContent" placeholder="Say something back..."></textarea>
                    <span asp-validation-for="messageContent"></span>
                </div>
                <br><input class="btn btn-primary btn-small" role="button" type="submit" name="Reply">
            </form>
        }

       

    
}